# Dependencies
node_modules/

# Environment variables
backend/.env
frontend/.env

# Build folders
dist/
build/

# Uploaded files
backend/uploads/

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/